In [59]:
import pandas as pd
import requests

In [68]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=856ae16421d9489487daeb84e3eb64f7&language=en-US&page=1')

In [69]:
pd.DataFrame(response.json()['results'])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",131.151,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.7,18475
1,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,126.656,/lyQBXzOQSuE59IsHyhrp0qIiPAz.jpg,1994-09-23,The Shawshank Redemption,False,8.7,24403
2,False,/oo4PVK6AyLZN49BokxDFGyclN86.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,73.394,/bMadFzhjy9T7R8J48QGq1ngWNAK.jpg,1974-12-20,The Godfather Part II,False,8.6,11164
3,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,67.885,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.6,14435
4,False,/vI3aUGTuRRdM7J78KIdW98LdxE5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",45.426,/ktejodbcdCPXbMMdnpI9BUxW6O8.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.6,4228
5,False,/Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg,"[16, 10751, 14]",129,ja,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...",85.944,/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg,2001-07-20,Spirited Away,False,8.5,14753
6,False,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,57.929,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.5,7548
7,False,/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg,"[10749, 16, 18]",372058,ja,君の名は。,High schoolers Mitsuha and Taki are complete s...,98.342,/q719jXXEzOoYaps6babgKnONONX.jpg,2016-08-26,Your Name.,False,8.5,10175
8,False,/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg,"[35, 53, 18]",496243,ko,기생충,"All unemployed, Ki-taek's family takes peculia...",69.113,/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg,2019-05-30,Parasite,False,8.5,16239
9,False,/dqK9Hag1054tghRQSqLSfrkvQnA.jpg,"[18, 28, 80, 53]",155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,109.023,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008-07-14,The Dark Knight,False,8.5,30370
10,False,/l6hQWH9eDksNJNiXWYRkWqikOdu.jpg,"[14, 18, 80]",497,en,The Green Mile,A supernatural tale set on death row in a Sout...,86.107,/o0lO84GI7qrG6XFvtsPOSV7CTNa.jpg,1999-12-10,The Green Mile,False,8.5,15787
11,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,"[53, 80]",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",82.778,/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg,1994-09-10,Pulp Fiction,False,8.5,25709
12,False,/qdIMHd4sEfJSckfVJfKQvisL02a.jpg,"[35, 18, 10749]",13,en,Forrest Gump,A man with a low IQ has accomplished great thi...,82.823,/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg,1994-06-23,Forrest Gump,False,8.5,25203
13,False,/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg,"[12, 14, 28]",122,en,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,100.165,/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg,2003-12-01,The Lord of the Rings: The Return of the King,False,8.5,22076
14,False,/eoCSp75lxatmIa6aGqfnzwtbttd.jpg,[37],429,it,"Il buono, il brutto, il cattivo",While the Civil War rages on between the Union...,78.574,/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg,1966-12-23,"The Good, the Bad and the Ugly",False,8.5,7663
15,False,/sw7mordbZxgITU877yTpZCud90M.jpg,"[18, 80]",769,en,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",64.706,/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg,1990-09-12,GoodFellas,False,8.5,11609
16,False,/4HodYYKEIsGOdinkGi2Ucz6X9i0.jpg,"[16, 28, 12]",569094,en,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",1738.308,/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg,2023-05-31,Spider-Man: Across the Spider-Verse,False,8.5,3696
17,False,/zoVeIgKzGJzpdG6Gwnr7iOYfIMU.jpg,"[18, 10749]",11216,it,Nuovo Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",47.807,/rf99GAg2zHKFj79QKn8ed8iPCVF.jpg,1988-11-17,Cinema Paradiso,False,8.5,3903
18,False,/gavyCu1UaTaTNPsVaGXT6pe5u24.jpg,"[35, 18]",637,it,La vita è bella,A touching story of an Italian book seller of ...,58.213,/mfnkSeeVOBVheuyn2lo4tfmOPQb.jpg,1997-12-20,Life Is Beautiful,False,8.5,12118
19,False,/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg,"[28, 18]",346,ja,七人の侍,A samurai answers a village's request for prot...,39.686,/iAq0sq42vKTLneVGqHn1D4GzgrM.jpg,1954-04-26,Seven Samurai,False,8.5,3180

In [70]:
temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity']]

In [71]:
temp_df

,id,title,overview,release_date,popularity
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,131.151
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,126.656
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,73.394
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,67.885
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,45.426
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,85.944
6,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,57.929
7,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,98.342
8,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,69.113
9,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-14,109.023
10,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,86.107
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,82.778
12,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,82.823
13,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,100.165
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-23,78.574
15,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,64.706
16,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,1738.308
17,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,47.807
18,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,58.213
19,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,39.686

In [72]:
#top 5
temp_df.head()

,id,title,overview,release_date,popularity
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,131.151
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,126.656
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,73.394
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,67.885
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,45.426

In [65]:
#now we will do this entire process in the loop
df=pd.DataFrame() #empty data Frame
df

Empty DataFrame
Columns: []
Index: []

In [75]:
for i in range(1,571):
    response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=856ae16421d9489487daeb84e3eb64f7&language=en-US&page={}')
    temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity']]
    df=df.append(temp_df,ignore_index=True)

In [76]:
df

,id,title,overview,release_date,popularity
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,131.151
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,126.656
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,73.394
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,67.885
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,45.426
...,...,...,...,...,...
31395,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,64.706
31396,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,1738.308
31397,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,47.807
31398,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,58.213
31399,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,39.686

In [77]:
pd.read_csv('MOVIES.csv')

,Unnamed: 0,id,title,overview,release_date,popularity
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,131.151
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,126.656
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,73.394
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,67.885
4,4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,45.426
...,...,...,...,...,...,...
11395,11395,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,64.706
11396,11396,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,1738.308
11397,11397,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,47.807
11398,11398,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,58.213
11399,11399,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,39.686

In [78]:
#we can vist the URl-rapidAPI