In [5]:
import pandas as pd
import requests

In [8]:
df=pd.DataFrame()

In [9]:
df

Empty DataFrame
Columns: []
Index: []

In [10]:
for i in range(1,571):
    response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=856ae16421d9489487daeb84e3eb64f7&language=en-US&page={}')
    temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity']]
    df=df.append(temp_df,ignore_index=True)

In [11]:
df

,id,title,overview,release_date,popularity
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,131.151
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,126.656
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,73.394
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,67.885
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,45.426
...,...,...,...,...,...
11395,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,64.706
11396,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,1738.308
11397,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,47.807
11398,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,58.213
11399,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,39.686

In [12]:
#converting into csv file
df.to_csv('MOVIES.csv')

In [13]:
pd.read_csv('MOVIES.csv')

,Unnamed: 0,id,title,overview,release_date,popularity
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,131.151
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,126.656
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,73.394
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,67.885
4,4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,45.426
...,...,...,...,...,...,...
11395,11395,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,64.706
11396,11396,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,1738.308
11397,11397,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,47.807
11398,11398,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,58.213
11399,11399,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,39.686